.hero {
    text-align: center;
    padding: 15rem 0;
}
.hero .title {
    line-height: 1;
    margin-bottom: 2rem;
}
.hero .text {
    margin-bottom: 3rem;
}
.hero__svg,
.contacts__svg {
    display: none;
}





.policy {
    padding: 15rem 0;
    text-align: center;
}
.policy .sub-title {
    margin-bottom: 8rem;
}
.policy .policy__title {
    font-family: var(--title-font);
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.policy .text {
    margin-bottom: 3rem;
}
.policy__block--mb {
    margin-bottom: 8rem;
}
.policy__box {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
}




@media screen and (min-width: 1440px)  {
    .hero {
        text-align: left;
        display: flex;
        align-items: center;
    }

    .hero .btn {
        margin-left: 0;
    }
    .hero__svg {
        display: block;
        max-width: 45rem;
        height: 45rem;
        margin-right: 5rem;
    }

    .policy__block {
        display: flex;
        align-items: center;
    }
   .policy {
    padding: 15rem;
   }
    .policy__box {
        margin-left: 0;
        margin-right: 0;
    }
   .policy__block--mb .policy__box {
    margin: 0 auto;
   }
    .policy__block--mb .policy__box {
        /* text-align: left; */
    }
    .policy__block--mb .btn {
        /* margin-left: 0; */
    }
    .policy__block--second {
        justify-content: flex-end;
        text-align: right;
    }
    .policy__block--second .btn {
        margin-right: 0;
    }
   
}
